<div class="message-input-container">
  <div *ngIf="selectedFiles.length > 0" class="selected-files">
    <div *ngFor="let file of selectedFiles; let i = index" class="file-item">
      <span class="file-name">{{ file.name }}</span>
      <button mat-icon-button (click)="removeFile(i)" matTooltip="Remove file">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="input-area">
    <button mat-icon-button (click)="openFileSelector()" matTooltip="Attach file">
      <mat-icon>attach_file</mat-icon>
    </button>
    
    <input type="file" #fileInput (change)="onFilesSelected($event)" multiple style="display: none">
    
    <div class="message-input">
      <input 
        type="text" 
        [(ngModel)]="messageText" 
        placeholder="Type a message" 
        (keyup.enter)="sendMessage()"
        [disabled]="sending">
    </div>
    
    <button 
      mat-icon-button 
      (click)="sendMessage()" 
      [disabled]="(!messageText || messageText.trim() === '') && selectedFiles.length === 0 || sending"
      matTooltip="Send message">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
